@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

:root {
  --color-white: #ffffff;
  --color-black: #333333;
  --color-alternative-black: #000000;
  --color-light-blue: #82b3d3;
  --color-green: #7db54f;
  --color-grey: #f2f2f2;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.167;
  background-color: var(--color-white);
  color: var(--color-black);
}

.page-container {

}



.button {
  background-color: #756157;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.header {
  background-color: var(--color-white);
  color: var(--color-alternative-black);
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--color-alternative-black);
  background-color: var(--color-white);
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.hero {
  color: var(--color-white);
  background-color: #b59e96;
}

.features {
  text-align: center;
}

.lead-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  }

.lead-description {
  color:var(--color-black);
  font-size: 22px;
  line-height: 1.18;
}

.features-list {
  background-color:  rgba(131, 179, 211, 0.12);
}

.features-title, .entertainments-title  {
  color: var(--color-alternative-black);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.167;
  text-transform: uppercase;
}

.features-item-inverse {
  color: var(--color-white);
  background-color: var(--color-light-blue);
}

.features-item-inverse h3 {
  color: var(--color-white);
}

.features-item:nth-child(4n + 3) {
  background-color: rgba(131, 179, 211, 0.20);
}

.entertainments {
  text-align: center;
}

.entertainments-item:nth-child(odd) {
  background-color:  rgba(131, 179, 211, 0.12);
}

.search {
  text-align: center;
}

.subscription {
  color: var(--color-white);
  background-color: var(--color-light-blue);
  text-align: center;
  background-image: url("/images/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.lead-description-inverse {
  font-size: 22px;
  line-height: 1.18;
}

.button-subscription {
  background-color: var(--color-light-blue);
}

.search-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
}

.footer-phone {
  color: var(--color-alternative-black);
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
}

/* Страница каталога */

.catalog-header {
  background-image: url("/images/filter.jpg");
  background-color: #756157;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: var(--color-white);
}

.button-submit {
  background-color: var(--color-light-blue);
  color: var(--color-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
}

.button-reset {
  background-color: transparent;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
}

.catalog-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.filters-form-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
}

.catalog-filter-item {
  font-size: 18px;
  line-height:  1.278;
}

.control-input {
  color: var(--color-alternative-black);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.333;
}

.catalog-view-button {
  background-color: var(--color-white);
}

.hotel-card-name {
  color: var(--color-alternative-black);
  font-size: 24px;
  font-weight: 700;
  line-height:  1.167;
}

.hotel-card-button-favorite {
  color: var(--color-white);
  background-color: var(--color-light-blue);
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.button-favorite-added {
  background-color: var(--color-green);
}

.hotel-rating-info {
  background-color: var(--color-grey);
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
}

.pagination-link {
  color: var(--color-white);
  background-color: var(--color-light-blue);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
  text-transform: uppercase;
}

.pagination-current {
  color: var(--color-alternative-black);
  background-color: var(--color-grey);
}

.pagination-collapse {
  color: var(--color-alternative-black);
  background-color: var(--color-white);
  font-size: 22px;
  line-height: 1.18;
}

.subscription-catalog {
  text-align: center;
}

.subscription-catalog .subscription-filed {
  background-color: var(--color-grey);
  color: var(--color-alternative-black);
  opacity: 0.6;
  font-size: 18px;
  line-height: 1.333;
}

.subscription-catalog .button-subscription{
  color: var(--color-white);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
  text-transform: uppercase;
}
